FrontEndWCFService/Service References/InternalServiceReference/InternalService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="InternalService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetNamedPipeBinding_IInternalService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:81/TimeoutInternalService/InternalService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:81/TimeoutInternalService/InternalService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IInternalService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IInternalService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IInternalService_GetValueOfPi_InputMessage">
    <wsdl:part name="parameters" element="tns:GetValueOfPi" />
  </wsdl:message>
  <wsdl:message name="IInternalService_GetValueOfPi_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetValueOfPiResponse" />
  </wsdl:message>
  <wsdl:portType name="IInternalService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IInternalService/GetData" message="tns:IInternalService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInternalService/GetDataResponse" message="tns:IInternalService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetValueOfPi">
      <wsdl:input wsaw:Action="http://tempuri.org/IInternalService/GetValueOfPi" message="tns:IInternalService_GetValueOfPi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInternalService/GetValueOfPiResponse" message="tns:IInternalService_GetValueOfPi_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetNamedPipeBinding_IInternalService" type="tns:IInternalService">
    <wsp:PolicyReference URI="#NetNamedPipeBinding_IInternalService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/named-pipe" />
    <wsdl:operation name="GetData">
      <soap12:operation soapAction="http://tempuri.org/IInternalService/GetData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetValueOfPi">
      <soap12:operation soapAction="http://tempuri.org/IInternalService/GetValueOfPi" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InternalService">
    <wsdl:port name="NetNamedPipeBinding_IInternalService" binding="tns:NetNamedPipeBinding_IInternalService">
      <soap12:address location="net.pipe://localhost/TimeoutInternalService/InternalService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.pipe://localhost/TimeoutInternalService/InternalService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>